body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

#root {
    font-family: 'Cute Font', sans-serif;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: #ffffff;
}

.kiss {
    height: 60%;
    width: 60%;
    border-radius: 0;
}

.both-Button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.NoButton,
.yesButton {
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.NoButton {
    background-color: rgb(227, 45, 39);
}

.NoButton:hover {
    background-color: rgb(253, 5, 100);
}

.yesButton {
    background-color: #1ae876;
}

.yesButton:hover {
    background-color: #13a360; /* Change color on hover */
}

.text {
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin: 10px;
}
